<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="mattjamieson" />
   <link rel="stylesheet" href="./css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="./css/syntax.css" type="text/css" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="http://whymirror.github.com">whymirror</a>
    &middot; <a href="http://mattjamieson.com">mattjamieson</a>
    &middot; <a class="extra" href="http://github.com/mattjamieson/parkplace">parkplace</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        parkplace<br />
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/whymirror/">github.com/whymirror</a><br />
        <a href="http://github.com/mattjamieson/">github.com/mattjamieson</a><br />
      </p>
    </div>
  </div>
</div>

<a href="http://github.com/mattjamieson"><img style="position: absolute; top: 0; right: 0; border: 0;" src="./images/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

</body>
</html>
